*{
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(58, 57, 57);
  font-size: 22px;
  margin: 0px;
  padding: 0px;
}

body{
  width: 100%;
  overflow-x: hidden;

}

@keyframes animateDown{
  0%, 20%, 50%, 80%, 100% {
    transform: translate(0);
  }

  40% {
    transform: translateY(8px);
  }

  60% {
    transform: translateY(5px);
  }
}

a{
  text-decoration: none;
}

.accBtn{
  background-color: rgba(23, 26, 32, 0.95);
  opacity: unset;
}
.leftBtn{
  background-color: rgba(23, 26, 32, 0.8);
  opacity: 0.85;
}